<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Ejecuta el archivo spawn y el ambiente de Gazebo -->
  <include file="$(find kuka_kr20_description)/launch/spawn.launch"/>

  <!-- Ejcuta el control, rqt_publisher, robot state publisher, joint state publisher y rviz -->
  <include file="$(find kuka_kr20_description)/launch/controllers.launch"/>

</launch>
