<?xml version="1.0" encoding="UTF-8"?>
<launch>

 <!-- Ejecuta el archivo spawn y el ambiente de Gazebo -->
  <include file="$(find universal_robot)/launch/spawn.launch"/>

  <!-- Ejecuta el control, rqt_publisher, robot state publisher y rviz -->
  <include file="$(find universal_robot)/launch/controllers.launch"/>

</launch>